img#foto3x4{
    width: 100px;
    height: auto;
}
table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}
label#email{
    display: block;
    margin-top: 10px;
}
label#nome{
    display: block;
    margin-top: 10px;
}
label#assunto{
    display: block;
    margin-top: 10px;
}
label#estados{
    display: block;
    margin-top: 20px;
}
label#msg{
    display: block;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: blueviolet;
    text-decoration: underline;
}
#btnenviar{
    background-color: white;
    border: 1px solid black;
}
#btnenviar:hover{
    background-color: grey;
}
#txtinfo{
    font-style: italic;
}
#imglee{
    width: 400px;
    height: auto;
}
#imgint{
    width: 400px;
    height: auto;
}
#imgemail{
    width: 400px;
    height: auto;
}
#imgreq{
    width: 800px;
    height: 300px;
}
